@font-face{
	font-family: "Inter Bold";
	src:url('../Fonts/Inter-ExtraBold-slnt=0.ttf');
}
@font-face{
	font-family: "Inter Regular";
	src:url('../Fonts/Inter-Regular-slnt=0.ttf');
}
@font-face{
	font-family: "Inter Thin";
	src:url('../Fonts/Inter-Thin-slnt=0.ttf');
}

body, html{ margin: unset; border:unset; }
.body{ width: 100%; min-height: 100vw; }

p, span, td, li, a{ font-family: "Inter Thin"; font-size: 13px; }
.no-light label, button{ font-family:"Inter Regular"; font-size: 14px; }
a{ color:green; font-style: italic }

h1, h2, .headerText, th, thead{ font-family: "Inter Bold"; }
.headerText{ font-size: 22px; margin-top: 7px; margin-bottom: 7px; }

input:not([type="checkbox"]), input:not([type="radio"]){ width: 255px; padding-left: 6px; padding-right:6px;  height: 27px; border:0.2px solid rgb(195,195,195); max-width: 80% }
input[type="password"]:focus, input[type="text"]:focus{border:0.2px solid rgb(195,240,195); }

input[type="submit"], button{ width: fit-content; height: fit-content; padding: 7px 25px; background-color: black; color: white;  }
.form-wrapper{ margin-bottom: 10px; }

ul.inline li{ display: inline-block; }
ul.no-bullet{ list-style: none; }

.flex-col, .flex-row{ display: flex !important; }
.flex-row.wrap{ flex-wrap: wrap !important; }
.flex-col{ flex-direction: column !important; }
.justify-center{ justify-content: center }
.align-center{ align-items: center; }
.center-display{ justify-content: center; align-items:center; }

.bold-link{ font-family: "Inter Bold"; text-decoration: none; font-style: unset; }

#headerBar{ padding:0px 40px; height: 70px; justify-content: space-between; background-color: black; }
#headerBar p{ color: white; }

#intent{ width:100vw; height:calc(100vh - 90px;) }
#intent li{min-width: fit-content; padding: 0px 20px; margin-bottom: 40px; height: 60px; width: 200px; background-color: green; margin-left: 40px; margin-right: 40px; color: white; font-family: "Inter Bold"; font-size: 18px; }
#intent li a{ color: white; }